/* styles/Hompage.module.css */
.container {
    padding: 2rem;
    font-family: Arial, sans-serif;
}
  
.title {
    text-align: center;
    margin-bottom: 2rem;
    color:#155;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}
  
.card {
    background: #f9f9f9;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px); /* Move card up slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
  }
  
.card h3 {
    margin: 0;
    font-size: 1rem;
}

/* h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.subtitle {
    text-align: center;
    margin-bottom: 2rem;
} */

.card ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 1.5rem;
}

.card h4 {
    margin-top: 1rem;
    font-size: 1rem;
    color: #555;
}

.card li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: #333;
}