/* styles/Hompage.module.css */
.container {
    padding: 2rem;
    font-family: Arial, sans-serif;
}
  
.title {
    text-align: center;
    margin-bottom: 2rem;
    color: #000;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}
  
.card {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px); /*move card on hover*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*larger shadow on hover*/
  }
  
.card h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.card-content {
    display: flex; /* Flexbox for alignment */
  flex-direction: column; /* Stack lists vertically */
  align-items: flex-end; /* Align lists to the right */
  width: 100%; /* Allow content to use full width */
  text-align: right;
}

.card ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 0.7rem;
}

.card h4 {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: black;
}

.card li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: #333;
    text-align: right;
}

.card-content ul {
  list-style-type: disc; 
  margin: 0;
  padding: 0 1rem; 
  text-align: right;
}

.card-content ul li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  text-align: right;
}

.card-content h4 {
  font-size: 1rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: right;
}

.profile-picture {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    background-color: #00ffd9; /*placeholder color*/
    margin-right: 1.5rem;
  }