/* styles/Navbar.module.css */

.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #6366f1;
  transition: color 0.3s;
}

.logo a:hover {
  color: #4f46e5;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLink {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: #4a5568;
  transition: color 0.3s;
}

.navLink:hover {
  color: #1a202c;
  cursor: pointer; /* Ensure cursor is pointer on hover */
}

/* Drawer List Styling */
.drawerList {
  width: 125px;
  padding: 1rem;
}

.drawerItem {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-left: 1rem;
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer; /* Ensure cursor is pointer */
}

.drawerItem:hover {
  box-shadow: 0 4px 8px;
  transform: translateY(-2px);
}

/* Logout Item Styling */
.logoutItem {
  color: red;
  background-color: #ffffff; /* Light red background */
  border-radius: 8px;
  margin-left: 1rem;
  box-shadow: 0 7px 4px rgba(176, 46, 46, 0.1);
  cursor: pointer; /* Ensure cursor is pointer */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.logoutItem:hover {
  background-color: #000000; /* Brighter red on hover */
  box-shadow: 0 4px 8px;
  transform: translateY(-2px);
}

